.completed-tasks{
    position: relative;
    margin-bottom: 50px;
    @include mini-tablet{
        margin-bottom: 80px;
    }
    &__block{
        display: none;
        align-items: center;
        gap: 10px;
        background-color: $main-color ;
        border-radius: 0.25rem;
        padding: 10px;
        cursor: pointer;
        color: white;
        margin-bottom: 10px;
        animation: animation-drop 1s ;
        transition: 0.6s all;
        img{
            transition: 0.5s all;   
        }
        &:hover{
            .completed-tasks-arrow{
                img{
                    transform: scale(1.2);
                }
            }
            .completed-tasks-icons{
                svg {
                    path{
                        fill: white;
                        &:first-child{
                            transform: translateX(5px);
                        }
                    }
                }
            }
        }
        &:active{
            transform: scale(0.94);
        }
        &-active{
            display: flex;
        }
    }
    &__lists{
        display: none;
        width: 100%;
        margin-bottom: 50px;
        animation: animation-drop 1s ;
        li{
            span{
                pointer-events: none;
                text-decoration:line-through;
                color: #CDCDCD;
            }
            .task-item__settings{
                background: #e0e5ea;
                position: static;
                height: 40px;
                width: 180px;
                opacity: 1;
                visibility: visible;
                pointer-events: visible;
                transform: translate(0%, 0%);
                transition: none;
                padding: 0;
                border-radius: 4px;
                button{
                    cursor: pointer;
                    background:none;
                    border: none;
                    outline: none;
                    height: 100%;
                    width: 100%;
                    padding: 0;
                    transition: 0.3s all;
                    border-radius: 4px;
                    @include flex-v-center;
                    &:hover{
                        background: $main-color;
                        color: white;
                    }
                }
                a,img{
                    pointer-events: none;
                }
                img{
                    display: none;
                    width: 20px;
                    height: 20px;
                }
                @include mini-tablet{
                    img{
                        display: block;
                    }
                    a{
                        display: none;
                    }
                }
                @include mini-tablet{
                    width: 40px;
                }
            }
        }
        &-active{
            display: block;
        }
    }
    &__empty{
        display: block;
        border: 0;
        cursor: pointer;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
        background-color: red;
        color: white;
        transition: 0.5s all;
        opacity: 0.5;
        &:hover{
            opacity: 0.9;
         }
         &:active{
         transform: scale(0.9);
        }
    }
    &__title{
        font-size: 18px;
        margin: 0;
    }
    &__arrow{
        cursor: pointer;
        border-radius: 0.25rem;
        padding-bottom: 6px;
        transition: 0.3s all;
    }
}
.rotate{
    transform: rotate(180deg);
}
@keyframes animation-drop {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
