.header{
    text-align: center;
    color: white;
    margin-bottom: 20px;
    position: relative;
    &__title{
        @include mobile {
            font-size: 2rem ;
        }
        span{
            color: $main-color;
        }
    }
    &__time, &__number-tasks span{
        color: red;
    }
    &__settings{
        position: absolute;
        right: 5px;
        height: 100%;
       &-hamburger{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
            gap: 5px;
            cursor: pointer;
            transform: translateY(-17px);
            &::before{
                content: '';
                position: absolute;
                width: 35px;
                height: 35px;
                border: 1px solid black;
                right: -5px;
                border-radius: 4px;
                transition: 0.3s all;
            }
            span{
                background-color: black;
                height: 3px;
                border-radius: 4px;
                transition: 0.3s all;
                &:nth-child(1){
                    width: 25px;
                }
                &:nth-child(2){
                    width: 15px;
                }
                &:nth-child(3){
                    width: 25px;
                }
            }
            &:hover{
                &::before{
                    border-color: #fff;
                }
                span{
                    background-color: #fff;
                    &:first-child, &:last-child{
                        background-color: $main-color;
                    }
                }
            }
        }
        &-content{
            position: absolute;
            top: 10px;
            right: 30px;
            width: 270px;
            background-color: $main-color;
            z-index: 25;
            border-radius: 10px;
            opacity: 0;
            transition: 0.3s all;
            visibility: hidden;
            padding: 10px;
            overflow: hidden;
            &-active{
                width: 300px;
                opacity: 1;
                visibility: visible;
            }
            @include mobile{
                top: 0%;
                right: 50%;
            }
        }
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 100%;
        }
        &-item{
            padding: 10px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 0.3s all;
            border-radius: 4px;
            a{
                pointer-events: none;
            }
            &:hover{
                outline: 1px solid white;
            }
            img{
                width: 30px;
                height: 30px;
                text-align: right;
                transition: 0.3s all;
            }
            &:active{
                transform: scale(0.92);
            }
        }
        &-grid{
            display: none;
            &-active{
                display: block;
            }
            li{
               &:nth-child(1){
                    @include tablet{
                        @include hiddenGrid;
                    }
               } 
               &:nth-child(2){
                @include mini-tablet{
                    @include hiddenGrid;
                }
           } 
            }
        }
        &-filter{
            display: none;
            &-active{
                display: block;
            }
        }
        &-overlay{
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 20;
            transition: 0.3s all;
            background-color: rgb(29, 28, 28);
            @include hiddenElem;
            &-active{
                visibility: visible;
                opacity: 0.4;
            }
        }
    }
}
.active-text{
    color: black;
    font-weight: bold;
}