.modal{
    &-task{
        @include modal;
        @include mini-desktop{
            min-width: 70%;
        }
        @include tablet {
            min-width: 90%;
        }
        @include mobile {
            min-width: 95%;
            transition: 0.5s all;
        }
        &-active{
            top: 50%;
            @include visibleElem;
        }
    }
    &-delete{
       @include modalDelete;
        &__title{
            margin-top: 30px;
            font-size: 25px;    
        }
        &-active{
            @include visibleElem;
            top: 50%;
        }
        &__btns{
           @include btns;
        }
        &__descr{
            padding: 10px;
        }
        &__span{
            word-break:break-all;
        }
        button{
            @include btnModal;
        }
        @include mini-tablet{
            width: 500px;
        }
        @include mobile {
            width: 90%;
        }
    }
    &-done{
        position: fixed;
        top: -30%;
        left: 50%;
        width: 300px;
        font-size: 19px;
        transform: translateX(-50%);
        min-height: 100px;
        background-color: green;
        color: #fff;
        text-align: center;
        border-radius: 0.25rem;
        transition: 0.5s all;   
        z-index: 13;
        @include hiddenElem;
        @include mobile {
            width: 290px;
        }
        &__descr{
            padding: 30px 10px 15px 10px;
           word-break:break-all;
           margin: 0;   
           @include mini-tablet {
                padding: 15px;
           }
        }
        &-active{
            @include visibleElem;
            top:3%;
        }
        &__icon{
            @include flex-v-center;
            padding-bottom: 20px;
            @include mini-tablet{
                display: none;
            }
        }
        &__circle{
            width: 50px;
            height: 50px;
            border: 2px solid #000;
            border-radius: 100%;
            position: absolute; 
            transform: translateX(-50%);
            left: 50%; 
        }
    }
    &-trash{
       @include modalDelete;
       z-index: 24;
       &-title{
            margin-top: 30px;
            font-size: 25px;    
       }
        &-btns{
            @include btns;
        }
        button{
            @include btnModal;
        }
        &-active{
            @include visibleElem;
            top: 50%;
        }
        @include mini-tablet{
            width: 500px;
        }
        @include mobile {
            width: 90%;
        }
    }
    &-comments{
        @include hiddenElem;
        background-color: $bg-color;
        width: 55%;
        height: 550px;
        z-index: 27;
        position: fixed;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s all;
        padding: 15px;
        color: white;
        border-radius: 0.25rem;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        @include desktop{
            width: 75%;
        }
        @include mini-desktop{
            height: 90%;
        }
        @include mini-desktop{
            width: 80%;
        }
        @include mini-tablet{
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100% !important;
            padding: 10px;
        }
        @include heightModalComments{
            height: 90%;
        }
        &-active{
            @include visibleElem;
            top: 50%;
            @include mini-tablet{
                top: 50%;
                width: 100%;
            }
        }
        hr{
            background-color: #fff;
        }
        &__block{
            @include flex-v-center;
            gap: 5px;
            button{
                border: none;
                background: none;
                padding: 0;
                height: 35px;
                cursor: pointer;
                @include flex-v-center;
                outline: none;
                transition: 0.3s all;
                border-radius: 4px;
                &:hover{
                   @include boxShadow;
                }
            }   
            img{
                width: 30px;
                height: 30px;
                object-fit: cover;
            }
        }
        &__items{
            bottom: 0;
            left: 0;
            overflow-x: hidden;
            overflow-y: auto;
            position: fixed;
            top: 80px;
            width: 100%;
            padding: 0 10px;
            &::-webkit-scrollbar {
                width: 3px;
                background-color: #005cbf;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 3px;
                background-color: #005cbf;
            }
            &::-webkit-scrollbar-track {
                border-radius: 3px;
                background-color: #f9f9fd;
            }
        }
        &__item{
            padding: 8px 10px;
            list-style: none;   
            border: 1px solid #fff;         
            margin-bottom: 10px;       
            border-radius: 0.25rem;
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            &:last-child{
                margin-bottom: 100px;
            }
        }
        &__svg{
            cursor: pointer;
            width: 20px;
            height: 20px;
            border: 1px solid #fff;
            border-radius: 50%;
            transition: 0.3s all;
            &:active{
                transform: scale(0.9);
            }
            &:hover{
                svg{
                    opacity: 1;
                }
            }
            svg{
                pointer-events: none;
                transform: translate(0px, -4px);
                opacity: 0;
                path{
                    stroke: white;
                }
            }
            &-active{
                border: 1px solid green;
                svg{
                    opacity: 1;
                    path{ stroke: green;}
                }
            }
       }
       &__comment, &__textarea{
            background: none;
            color: white;
            border: none;
            border-radius: 4px;
            width: 100%;
            flex: 1;
            padding: 5px 10px;
            word-wrap: break-word;
            word-break: break-word;
            text-align: left;
            &:focus{
                outline: none;
            }
        }
        &__textarea{
            resize: none;
            overflow: hidden;
            display: none;
            min-height: 34px;
            &-active{
                display: block;
            }
        }
        &__btns{
            display: flex;
        }
        &__redact{
           svg {
            path{
                &:first-child{
                    stroke: green;
                }
            }
           }
        }
        &__delete{
            border: none;
            background: none;
            width: 30px;
            height: 30px;
            padding: 0;
            cursor: pointer;
            svg {
                pointer-events: none;
                transition: 0.3s all;
                fill: white;
            }
            &:hover{
                svg{
                    fill: red;
                }
            }
            &:focus{
                outline: none;
            }
        }
        &__edit, &__redact{
            border: none;
            background: none;
            width: 30px;
            height: 30px;
            padding: 0;
            cursor: pointer;
            svg{
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
                path{
                    transition: 0.3s all;
                    stroke: white;
                }
            }
            &:hover{
                svg{
                    path{
                        &:last-child{
                            stroke: green;
                        }
                        &:first-child{
                            stroke: $main-color;
                        }
                    }
                }
            }
        }
        &__title{
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            background-color: $bg-color;
            color: white;
            border: none;
            font-size: 21px;
            text-align: center;
            transition: 0.3s all;
            border-radius: 5px;
            @include tablet {
                overflow: auto;
                white-space: inherit;
                text-overflow: inherit;
            }
            &:focus, &:hover{
                outline: none;
                @include boxShadow;
            }
        }
        &__bottom{
            left: 50%;
            transform: translateX(-50%);
            width: 99%;
            position: absolute;
            bottom: 0px;
            background-color: $bg-color;
            padding: 15px 0;
            padding-bottom: 5px;
        }
        &__form{
            @include flex-v-center;
            gap: 5px;
            padding: 0 10px;
            height: 40px;
            margin-bottom: 5px;
        }
        &__input{
            width: 100%;
            text-align: center;
            height: 35px;
            border-radius: 0.25rem;
            border: none;
            transition: 0.3s all;
            padding: 0 10px;
            &:focus, &:hover{
                outline: none;
                box-shadow: 1px 1px 3px 5px $main-color;
            }
            &:focus{
                .modal-comments__created{
                    display: none;
                }
            }
        }
        &__add{
            border: none;
            background: #fff;
            cursor: pointer;
            width: 35px;
            height: 35px;
            transition: 0.3s all;
            padding: 0;
            svg{
                width: 25px;
                height: 25px;
                vertical-align: middle;
                pointer-events: none;
            }
            &:hover{
                background-color: #fff;
                @include boxShadow;
            }
            &:active{
                transform: scale(0.95);
            }
        }
    }
    &-colors{
        @include hiddenElem;
        top: 50%;
        left: -100%;
        transform: translate(-50%, -50%);
        z-index: 27;
        position: fixed;
        transition: 0.3s all;
        width: 300px;
        background-color:$main-color;
        margin: 0 auto; 
        border-radius: 4px;
        padding: 10px;
        &__changes{
          display: flex;
          justify-content: space-between;
          gap: 10px;
          list-style-type: none;
          padding: 0;
          position: relative;
          margin-bottom: 10px;
          li{
            button{
              border: none;
              background: none;
              cursor: pointer;
              color:white;
              width: 100%;
              height: 100%;
              padding: 10px;
              transition: 0.3s all;
              border-radius: 4px;
              &:hover{
                outline: 1px solid white;
              }
            }
          }
        }
        &__background, &__text{
          &-active{
            button{
              outline: 1px solid white;
            }
          }
        }
        &__items{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        span{
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 4px;
          cursor: pointer;
          transition: 0.3s all;
          &:hover{
            outline: 1px solid white;
            transform: scale(1.5);
          }
        }
        }
        &__back{
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        transition: 0.3s all;
        &:hover{
          outline: 1px solid white;
        }
        &:active{
            transform: scale(0.92);
        }
        img{
          pointer-events: none;
        }
        }
        &-active{
          @include visibleElem;
          left: 50%;
        }
      }
      
}