.modal{
    &-task{
        @include modal;
        @include mini-desktop{
            min-width: 70%;
        }
        @include tablet {
            min-width: 90%;
        }
        @include mobile {
            min-width: 95%;
            top: 50%;
        }
        &-active{
            top: 50%;
            @include visibleElem;
        }
    }
    &-delete{
       @include modalDelete;
        &-title{
            margin-top: 30px;
            font-size: 25px;    
        }
        &-active{
            @include visibleElem;
            top: 50%;
        }
        &-btns{
           @include btns;
        }
        &-descr{
            padding: 10px;
        }
        &-span{
            word-break:break-all;
        }
        button{
            @include btnModal;
        }
        @include mini-tablet{
            width: 500px;
        }
        @include mobile {
            width: 90%;
        }
    }
    &-done{
        position: fixed;
        top: -30%;
        left: 50%;
        width: 300px;
        font-size: 19px;
        transform: translateX(-50%);
        min-height: 100px;
        background-color: green;
        color: #fff;
        text-align: center;
        border-radius: 0.25rem;
        transition: 0.5s all;   
        z-index: 13;
        @include hiddenElem;
        @include mobile {
            width: 290px;
        }
        &-descr{
            padding: 30px 10px 15px 10px;
           word-break:break-all;
           margin: 0;   
           @include mini-tablet {
                padding: 15px;
           }
        }
        &-active{
            @include visibleElem;
            top:3%;
        }
        &-icon{
            @include flex-v-center;
            padding-bottom: 20px;
            @include mini-tablet{
                display: none;
            }
        }
        &-circle{
            width: 50px;
            height: 50px;
            border: 2px solid #000;
            border-radius: 100%;
            position: absolute; 
            transform: translateX(-50%);
            left: 50%; 
        }
    }
    &-trash{
       @include modalDelete;
       &-title{
            margin-top: 30px;
            font-size: 25px;    
       }
        &-btns{
            @include btns;
        }
        button{
            @include btnModal;
        }
        &-active{
            @include visibleElem;
            top: 50%;
        }
        @include mini-tablet{
            width: 500px;
        }
        @include mobile {
            width: 90%;
        }
    }
    &-comments{
        @include hiddenElem;
        background-color: $bg-color;
        width: 55%;
        height: 550px;
        z-index: 20;
        position: fixed;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s all;
        padding: 15px;
        color: white;
        border-radius: 0.25rem;
        text-align: center;
        @include desktop{
            width: 75%;
        }
        @include mini-desktop{
            width: 80%;
        }
        @include mini-tablet{
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100% !important;
        }
        &-active{
            @include visibleElem;
            top: 50%;
            @include mini-tablet{
                top: 50%;
                width: 100%;
            }
        }
        hr{
            background-color: #fff;
        }
        &__items{
            bottom: 0;
            left: 0;
            overflow-x: hidden;
            overflow-y: auto;
            position: fixed;
            top: 80px;
            width: 100%;
            padding: 0 10px;
            &::-webkit-scrollbar {
                width: 0;
                background: none;
            }
        }
        &__item{
            padding: 8px 10px;
            list-style: none;   
            border: 1px solid #fff;         
            margin-bottom: 10px;       
            border-radius: 0.25rem;
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            &:last-child{
                margin-bottom: 100px;
            }
        }
        &__svg{
            cursor: pointer;
            width: 20px;
            height: 20px;
            border: 1px solid #fff;
            border-radius: 50%;
            transition: 0.3s all;
            &:active{
                transform: scale(0.9);
            }
            &:hover{
                svg{
                    opacity: 1;
                }
            }
            svg{
                pointer-events: none;
                transform: translate(0px, -4px);
                opacity: 0;
                path{
                    stroke: white;
                }
            }
          
            &-active{
                border: 1px solid green;
                svg{
                    opacity: 1;
                    path{ stroke: green;}
                }
            }
       }
       &__comment{
            background: none;
            color: white;
            border: none;
            border-radius: 4px;
            width: 100%;
            flex: 1;
            padding: 5px 10px;
            &:focus{
                outline: none;
            }
        }
        &__btns{
            display: flex;
        }
        &__redact{
           svg {
            path{
                &:first-child{
                    stroke: green;
                }
            }
           }
        }
        &__delete{
            border: none;
            background: none;
            width: 30px;
            height: 30px;
            padding: 0;
            cursor: pointer;
            svg {
                pointer-events: none;
                transition: 0.3s all;
                fill: white;
            }
            &:hover{
                svg{
                    fill: red;
                }
            }
            &:focus{
                outline: none;
            }
        }
        &__edit, &__redact{
            border: none;
            background: none;
            width: 30px;
            height: 30px;
            padding: 0;
            cursor: pointer;
            svg{
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
                path{
                    transition: 0.3s all;
                    stroke: white;
                }
            }
            &:hover{
                svg{
                    path{
                        &:last-child{
                            stroke: green;
                        }
                        &:first-child{
                            stroke: $main-color;
                        }
                    }
                }
            }
        }
        &__title{
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            background-color: $bg-color;
            color: white;
            border: none;
            font-size: 21px;
            text-align: center;
            transition: 0.3s all;
            @include tablet {
                overflow: auto;
                white-space: inherit;
                text-overflow: inherit;
            }
            &:focus, &:hover{
                outline: none;
                box-shadow: 1px 1px 7px 5px $main-color;
            }
        }
        &__bottom{
            left: 50%;
            transform: translateX(-50%);
            width: 99%;
            position: absolute;
            bottom: 0px;
            background-color: $bg-color;
            padding: 15px 0;
            @include flex-v-center;
        }
        &__form{
            @include flex-v-center;
            @include mini-tablet{
                display: none;
            }
            gap: 5px;
            padding: 0 10px;
            width: 100%;
        }
        &__input{
            width: 100%;
            text-align: center;
            margin: 10px 0;
            height: 35px;
            border-radius: 0.25rem;
            border: none;
            transition: 0.3s all;
            padding: 0 10px;
            &:focus, &:hover{
                outline: none;
                box-shadow: 1px 1px 7px 5px $main-color;
            }
        }
        &__add{
            border: none;
            background: #fff;
            cursor: pointer;
            width: 35px;
            height: 35px;
            transition: 0.3s all;
            svg{
                vertical-align: middle;
                pointer-events: none;
            }
            &:hover{
                background-color: #fff;
                box-shadow: 1px 1px 7px 5px $main-color;
            }
            &:active{
                transform: scale(0.95);
            }
        }
        &__btn{
            border: none;
            background: none;
            padding: 0;
            position: relative;
            right: 15px;
            display: none;
            position: absolute;
            top: -15px;
            img{
                width: 50px;
                height: 50px;
            }
            @include mini-tablet{
                display: block;
            }
        }
    }
}