@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './variables';
@import './mixins';
@import './media';
@import './loader';
@import './completed-tasks';
@import './header';
@import './modal';
@import './overlay';
@import './btn';
@import './task';
@import './checkbox';

html, body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
body {
    padding-top: 30px;
    margin: 0;
    position: relative;
    background-color: $bg-color;
}
#element::-webkit-scrollbar {
  width: 6px;
  background-color: #005cbf;
}
#element::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #005cbf;
}
#element::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #f9f9fd;
}
.body{
  &-hidden{
      overflow: hidden;
      @include mini-desktop{
        padding-right: 0;
      }
  }
}
.container{
  position: relative;
  padding-bottom: 50px;
  transition: 1s all;
  opacity: 0;
  @include bigDesktop{
    max-width: 97%;
  }
  @include tablet{
    max-width: 100%;
  }
  @include mobile {
    padding: 10px;
    padding-bottom: 5px;
  }
}
.aside {
  height: 400px;
}
.main {
  height: 400px;
}
.d-flex {
  display: flex !important;
}
.gray {
  color: #BDBDBD;
}
.task-title--done {
  text-decoration: line-through;
  color: #CDCDCD;
  pointer-events: none;
}
.comments-done{
  color: green;
  text-decoration: line-through;
}
.notify-holder {
  height: 60px;
  margin-bottom: 20px;
}
.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.empty-list__title {
  font-size: 28px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 300;
  text-align: center;
  @include mobile {
    font-size: 24px;
  }
}
.empty-list__icon {
  color: #42BE2A;
  font-size: 32px;
}

.pe{
  pointer-events: none;
  svg{
    path{
        stroke: red;
    }
}
}
.none {
  display: none !important;
}
.float-right {
  float: right;
}
.list-group{
  overflow: hidden;
  &-item{
    transition: 0.5s all;
    border-radius: 0.25rem !important;
    margin-bottom: 5px;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: 5px;
    background-color: #fff;
    resize: none;
    display: flex;
    &-delete{
        transform: translateY(-1000px);
    }
  }
}
.list-reset{
  list-style-type: none;
}

