.form {
  width: 610px;
  padding: 20px;
  background: transparent;
  border-radius: 18px;
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 24px -1px var(--box-shadow-btn);
  box-sizing: border-box;

  @include xl {
    width: 566px;
  }

  @include lg {
    background: linear-gradient(
      90deg,
      #e9eff7 0%,
      #e9eef3 25%,
      #eeeff2 50%,
      #dce1ee 75%,
      #eaedf6 100%
    );
  }

  @include lg-md {
    padding: 14px;
    width: 416px;
  }

  @include sm {
    padding: 32px;
  }

  @include xs {
    width: unset;
    padding: 20px;
  }

  &__title {
    font-size: 42px;
    font-family: var(--font-medium);
    line-height: 120%;
    margin-bottom: 18px;

    @include xl {
      font-size: 38px;
      line-height: 105%;
    }

    @include lg-md {
      font-size: 28px;
    }

    @include sm {
      font-size: 26px;
    }

    @include xs {
      font-size: calc(20px + ((100vw - 320px) / (540 - 320)) * (32 - 20));
      margin-bottom: 15px;
    }
  }

  &__input {
    border-radius: 8px;
    padding: 18px 26px;
    font-size: 18px;
    font-family: var(--font-medium);
    border: none;
    outline: 1px solid currentColor;
    color: currentColor;
    margin-bottom: 12px;
    box-sizing: border-box;

    @include xl {
      padding: 16px 24px;
      margin-bottom: 12px;
    }

    @include lg-md {
      padding: 14px;
      height: 52px;
      margin-bottom: 8px;
    }

    @include sm {
      margin-bottom: 13px;
      padding: 14px 24px;
    }

    @include xs {
      height: calc(36px + ((100vw - 320px) / (540 - 320)) * (52 - 36));
      font-size: calc(14px + ((100vw - 320px) / (540 - 320)) * (16 - 14));
    }

    &--error {
      outline: 1px solid red;
    }

    &::placeholder {
      color: currentColor;
    }

    &:focus {
      outline: 2px solid currentColor;
    }
  }

  &__button {
    padding: 18px 26px;
    background: var(--color-main);
    font-family: var(--font-bold);
    font-size: 22px;
    color: var(--color-white);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
    outline: 1px solid transparent;

    @include xl {
      margin-bottom: 10px;
    }

    @include lg-md {
      padding: 12px 20px;
      font-size: 18px;
      height: 52px;
      margin-bottom: 15px;
    }

    @include sm {
      padding: 14px 24px;
    }

    @include xs {
      height: calc(36px + ((100vw - 320px) / (540 - 320)) * (52 - 36));
      font-size: calc(14px + ((100vw - 320px) / (540 - 320)) * (22 - 14));
      padding:  calc(10px + ((100vw - 320px) / (540 - 320)) * (18 - 10));
    }

    &:hover {
      outline: 1px solid var(--color-main);
      background: linear-gradient(
        90deg,
        #e9eff7 0%,
        #e9eef3 25%,
        #eeeff2 50%,
        #dce1ee 75%,
        #eaedf6 100%
      );
      color: var(--color-main);
    }
  }

  &__privacy {
    color: currentColor;
    font-size: 14px;
    font-family: var(--font-medium);
    opacity: 0.8;

    @include xl {
      font-size: 13px;
    }

    @include lg-md {
      font-size: 14px;
    }

    @include sm {
      font-size: 11px;
    }

    @include xs {
      font-size: 10px;
    }

    &-link {
      text-decoration: underline;
    }
  }
}
