.header {
  padding-top: 45px;
  margin-bottom: 30px;
  color: var(--color-main);

  @include xl {
    margin-bottom: 50px;
  }

  @include lg-md {
    margin-bottom: 70px;
  }

  @include md {
    padding: 45px 0 0 0;
  }

  @include sm {
    margin: 0 0 50px 0;
  }

  @include xs {
    padding: calc(30px + ((100vw - 320px) / (540 - 320)) * (60 - 30)) 0 0 0;
    margin-bottom: 50px;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @include sm {
      align-items: center;
    }

    @include xs {
      gap: 5px;
    }
  }

  &__logo {
    font-size: 15px;
    position: relative;
    display: block;
    width: 255px;
    height: 60px;

    @include lg-md {
      width: 190px;
      height: 40px;
    }

    @include xs {
      height: calc(25px + ((100vw - 320px) / (540 - 320)) * (40 - 25));
      width: calc(115px + ((100vw - 320px) / (540 - 320)) * (200 - 115));
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: url("../assets/img/logo.svg") no-repeat;
      background-position: 0px 0px;
      background-size: contain;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 16px;

    @include lg-md {
      gap: 30px;
    }

    @include md {
      gap: 10px;
    }
  }

  &__phone {
    font-family: var(--font-medium);
    font-size: 24px;

    @include lg-md {
      font-size: 20px;
    }

    @include md {
      font-size: 14px;
    }

    @include sm {
      display: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__span {
    font-family: var(--font-bold);
  }

  &__worktime {
    font-family: var(--font-medium);
    font-size: 12px;
    width: 152px;

    @include xl {
      width: 165px;
    }

    @include lg {
      width: 135px;
    }

    @include lg-md {
      width: 180px;
      font-size: 16px;
    }

    @include md {
      width: unset;
      font-size: 14px;
    }

    @include sm {
      display: none;
    }
  }

  &__button {
    width: 282px;
    height: 52px;
    border-radius: 8px;
    padding: 15px 30px;
    background: #fdfcf9;
    box-shadow: 0px 4px 24px -1px var(--box-shadow-btn);
    border: none;
    outline: 1px solid transparent;
    transition: 0.5s all;
    color: var(--color-main);
    font-size: 22px;
    font-family: var(--font-bold);
    cursor: pointer;

    @include xl {
      width: 242px;
      font-size: 18px;
    }

    @include lg-md {
      width: 221px;
      font-size: 16px;
      padding: 15px;
      height: 52px;
    }

    @include xs {
      max-width: calc(148px + ((100vw - 320px) / (540 - 320)) * (222 - 148));
      padding: 0 10px;
      height: calc(35px + ((100vw - 320px) / (540 - 320)) * (52 - 35));
      font-size: calc(11px + ((100vw - 320px) / (540 - 320)) * (16 - 11));
    }

    &:hover {
      opacity: 0.8;
      outline: 1px solid var(--color-main);
    }

    &:active {
      box-shadow: none;
    }
  }
}
