.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &__header {
    position: relative;

    &-close {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    margin-bottom: 10px;
  }

  .tooltip {
    position: absolute;
    bottom: -43px;
    left: 20px;
    width: 136px;
    height: 35px;
    box-sizing: border-box;
    background-color: #F0F0F0;
    color: red;
    display: flex;
    align-items: center;
    padding: 4px 13px 6px 10px;
    border-radius: 6px;
    font-family: var(--font-medium);
    font-size: 12px;
    transform: translateY(-10px);
    transition: 0.5s all;
    opacity: 0;
    visibility: hidden;

    &--active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
  
  &::after {
    content: '';
    position: absolute;
    top: -8px;
    width: 20px;
    height: 20px;
    background-image: url('../assets/img/triangle.svg');
    }
  }

  &__input{
    flex: 1;
    margin-bottom: 0;
    
    &--error {
      position: relative;
      outline: 1px solid red;
    }
  }

  &__form {
    background-color: #fff;
    width: 460px;
    box-sizing: border-box;

      @include xs {
      width: 300px;
    }
  }

  &__title {
    color: #000;
    font-size: 24px;
    padding-right: 44px;

      @include xs {
      font-size: 16px;
    }
  }

  &__button {
    &--disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }

  &__done {
    background-color: #fff;
    max-width: 780px;
    min-width: 300px;
    height: 492px;
    transition: 0.5s all;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 52px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;

    @include lg-md {
      height: 450px;
    }

    &--active {
        visibility: visible;
        opacity: 1;
    }

    &-wrapper {
        color: var(--color-main);
        position: relative;
    }

    &-first, &-second, &-third {
        position: absolute;
    }

    &-first {
        right: -50px;
        top: -30px;
    }

    &-second {
        right: -65px;
        top: 15px
    }

    &-third {
        left: -59px;
        top: calc(50% + 20px );
    }

    &-title {
        font-size: 32px;
        text-align: center;
        font-family: var(--font-bold);
        line-height: 35px;

        @include lg-md {
          font-size: 25px;
        }

        @include md {
          font-size: 25px;
        }
    }
  }
}
