.offer {
  color: var(--color-main);

 &__title {
    font-size: 74px;
    font-family: var(--font-medium);
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 20px;

    @include xl {
      margin-bottom: 15px;
      font-size: 56px;
      width: 525px;
    }

    @include lg-md {
      font-size: 42px;
      margin-bottom: 10px;
      width: 400px;
    }

    @include xs {
      font-size: calc(32px + ((100vw - 320px) / (540 - 320)) * (52 - 32));
      width: 100%;
      margin-bottom: 15px;
      line-height: 110%;
    }
  }

  &__description {
    font-size: 42px;
    font-family: var(--font-medium);
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 25px;

    @include xl {
      font-size: 32px;
    }

    @include lg-md {
      font-size: 24px;
    }

    @include xs {
      font-size: calc(17px + ((100vw - 320px) / (540 - 320)) * (30 - 17));
    }
  }
}
