@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Garamond", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  width: 100%;
  min-height: 100vh;
  background-color: gray ;
  display: flex;
  justify-content: center;
  color: white;
}

.container {
  padding: 30px;
  width: 800px;
  margin-top: 50px;
}

.container .block {
  position: relative;
  margin-bottom: 20px; 
}

.container .block:last-child {
  margin-bottom: 0; 
}

.container .block .title {
  position: relative;
  padding: 20px; 
  padding-right: 40px;
  background-color: darkblue; 
  color: #fff; 
  cursor: pointer; 
  border-radius: 10px;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
}

.edit {
  margin-top: 20px;
  font-size: 18px;
  height: 22px;
  width: 70px;
  cursor: pointer;
}

.container .block .title::after {
  content: "+";
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  right: 20px;
  font-size: 25px;
  font-weight: bold;
}

.container .block.active .title::after {
  content: "\2014"; 
}

.container .block .content {
  position: relative;
  background-color: #fff; 
  overflow: hidden;
  max-height: 0; 
  transition: 0.3s; 
  border-radius: 4px;
  margin-top: 5px;
}

.container .block .content div {
  padding: 20px;
  border-radius: 4px;
}

.block-list{
  padding: 10px;
}

.description {
  transition: 0.5s all;
  overflow: hidden;
  text-align: center;
  max-height: 0;
  font-size: 18px;
}


@media (max-width: 576px) {
    .container {
        padding: 10px;
      }
}

.boldUppercase{
    font-weight: bold;
    text-decoration:underline;
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

.boldBlock{
  text-align: center; 
  display: block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gap{
  display: block;
}

.menu {
  position: fixed;
  top: 0;
  right: 50%;
  transform: translate(50%);
  z-index: 30;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;  
  justify-content: center;
  background-color: gray;
}

.close-btn {
  display: none;
}

.close-btn-active {
  display: block;
}

.hamburger {
  cursor: pointer;
  z-index: 10;
  position: relative;
}

.hamburger-active {
  color: gray;
}

.menu-list {
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 60%;
  background-color: white;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 0.5s all;
}

.menu-list-active {
  right: 0%;
}

.menu-list li {
  list-style: none;
}

.menu-right {
  position: absolute;
  right: 30px;
}
