@import "../_reset.scss";
@import "../_fonts.scss";
@import "../_media.scss";
@import "../_variables.scss";
@import "../_modal.scss";
@import "../_button.scss";
@import "_header.scss";
@import "_privacyBlock.scss";

body {
    background-image: none;
}

.container {
  max-width: 1520px;
  padding: 0 100px;
  margin: 0 auto;

  @include xl {
    max-width: 1180px;
  }

  @include lg {
    padding: 0 60px;
    max-width: 100%;
  }

  @include lg-md {
    padding: 0 85px;
  }

  @include md {
    padding: 0 40px;
  }

  @include xs {
    padding: 0 20px;
  }
}
