.button {
  height: 52px;
  border-radius: 8px;
  padding: 15px 30px;
  background: var(--color-main);
  font-family: var(--font-bold);
  font-size: 18px;
  border: none;
  outline: 1px solid transparent;
  transition: 0.5s all;
  cursor: pointer;
  color: #fff;

  @include lg-md {
      padding: 12px 20px;
      font-size: 16px;
    }

  @include sm {
      padding: 14px 24px;
  }

  @include xs {
    border-radius: calc(6px + ((100vw - 320px) / (540 - 320)) * (8 - 6));
    padding:  calc(10px + ((100vw - 320px) / (540 - 320)) * (18 - 10));
    font-size: calc(11px + ((100vw - 320px) / (540 - 320)) * (16 - 11));
    height: calc(36px + ((100vw - 320px) / (540 - 320)) * (52 - 36));
  }
}
