@font-face {
  font-family: "Muller-Bold";
  src: url("../assets/fonts/MullerBold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Muller-Medium";
  src: url("../assets/fonts/MullerMedium.woff2") format("woff2");
  font-weight: 500;
}
