.form {
  padding: 20px;
  background: transparent;
  border-radius: 16px;
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 24px -1px var(--box-shadow-btn);
  box-sizing: border-box;

  @include xs {
    border-radius: 12px;
  }

  @include lg {
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.10) 100%);
  }

  &__title {
    font-size: 32px;
    font-family: var(--font-medium);
    line-height: 110%;
    margin-bottom: 24px;
    max-width: 500px;

    @include xl {
      font-size: 28px;
    }

    @include lg-md {
      margin-bottom: 20px;
      font-size: 20px;
      width: 100%;
    }

    @include sm {
      font-size: 26px;
    }

    @include xs {
      font-size: calc(20px + ((100vw - 320px) / (540 - 320)) * (36 - 20));
      margin-bottom: calc(15px + ((100vw - 320px) / (540 - 320)) * (20 - 15));
    }
  }

  &__input {
    border-radius: 8px;
    padding: 20px;
    font-size: 18px;
    font-family: var(--font-medium);
    border: none;
    outline: 1px solid currentColor;
    color: currentColor;
    margin-bottom: 12px;
    box-sizing: border-box;
    height: 52px;

    @include xl {
      padding: 16px 24px;
      margin-bottom: 12px;
    }

    @include lg-md {
      padding: 14px;
      margin-bottom: 8px;
    }

    @include sm {
      margin-bottom: 13px;
      padding: 14px 24px;
    }

    @include xs {
      height: calc(36px + ((100vw - 320px) / (540 - 320)) * (52 - 36));
      font-size: calc(14px + ((100vw - 320px) / (540 - 320)) * (16 - 14));
    }

    &--error {
      outline: 1px solid red;
    }

    &::placeholder {
      color: currentColor;  
    }

    &:focus {
      outline: 2px solid currentColor;
    }
  }

  &__button {
    &:hover {
      outline: 1px solid var(--color-main);
      background: linear-gradient(
        90deg,
        #e9eff7 0%,
        #e9eef3 25%,
        #eeeff2 50%,
        #dce1ee 75%,
        #eaedf6 100%
      );

      color: var(--color-main);
    }

    @include xs {
      font-size: calc(14px + ((100vw - 320px) / (540 - 320)) * (22 - 14));
      padding: 10px;
    }
  }

  &__privacy {
    color: currentColor;
    font-size: 14px;
    font-family: var(--font-medium);
    opacity: 0.8;
    line-height: 120%;

    @include xl {
      font-size: 14px;
    }

    @include lg-md {
      font-size: 14px;
    }

    @include xs {
        font-size: calc(10px + ((100vw - 320px) / (540 - 320)) * (14 - 10));
    }

    &-link {
      text-decoration: underline;
    }
  }
}
