.offer {

 &__title {
    font-size: 74px;
    font-family: var(--font-medium);
    color: var(--color-main);
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 20px;

    @include xl {
      margin-bottom: 15px;
      font-size: 56px;
      width: 525px;
    }

    @include lg-md {
      font-size: 42px;
      margin-bottom: 10px;
      width: 400px;
    }

    @include xs {
      font-size: calc(31px + ((100vw - 320px) / (540 - 320)) * (52 - 31));
      width: 100%;
      margin-bottom: 15px;
      line-height: 110%;
    }
  }

  &__description {
    font-size: 42px;
    font-family: var(--font-regular);
    color: var(--color-main);
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 25px;

    @include xl {
      font-size: 32px;
    }

    @include lg-md {
      font-size: 24px;
    }

    @include xs {
      font-size: calc(17px + ((100vw - 320px) / (540 - 320)) * (30 - 17));
    }
  }

  &__form {
    width: 530px;
    box-sizing: border-box;
    padding: 36px;

    @include xl {
      height: 354px;
    }

    @include lg-md {
      width: 368px;
      height: 289px;
      padding: 20px;
    }
  
    @include xs {
      height: 100%;
      width: unset;
      max-width: 100%;
    }
  }

  &__title {
    @include lg-md {
      margin-bottom: 20px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    font-family: var(--font-regular);
    font-size: 20px;
    list-style:decimal;
    padding-left: 25px;

    @include xl {
      font-size: 18px;
      padding-left: 20px;
    }

    @include lg-md {
      font-size: 14px;
      gap: 14px;
      margin-bottom: 20px;
    }

    @include xs {
      font-size: calc(14px + ((100vw - 320px) / (540 - 320)) * (24 - 14));
      padding-left: calc(15px + ((100vw - 320px) / (540 - 320)) * (30 - 15));
      margin-bottom: calc(14px + ((100vw - 320px) / (540 - 320)) * (20 - 14));
    }
  }

  &__item {
    line-height: 120%;

  }
}
