:root {
  --color-main: #0082CE;
  --color-hover: #4fdae1;
  --color-white: #fff;
  --box-shadow-btn: rgba(0, 0, 0, 0.2);
  --font-bold: "Muller-Bold", sans-serif;
  --font-medium: "Muller-medium", sans-serif;
}
