@import "_reset.scss";
@import "_fonts.scss";
@import "_media.scss";
@import "_variables.scss";
@import "_header.scss";
@import "_form.scss";
@import "_offer.scss";
@import "_modal.scss";

body {
  background-image: url("../assets/img/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;

  @include xl {
    background-image: url("../assets/img/bg1440.png");
  }

  @include lg-md {
    background-image: url("../assets/img/bg1024.png");
  }

  @include sm {
    background-image: none;
    background: linear-gradient(90deg, #CCEBFD 0%, #B6DAF0 50%, #B0DDFA 100%);
  }
}

.container {
  max-width: 1520px;
  padding: 0 100px;
  margin: 0 auto;

  @include xl {
    max-width: 1180px;
  }

  @include lg {
    padding: 0 60px;
    max-width: 100%;
  }

  @include lg-md {
    padding: 0 85px;
  }

  @include md {
    padding: 0 40px;
  }

  @include xs {
    padding: 0 20px;
  }
}

.background {
  display: none;

  @include sm {
    position: relative;
    z-index: -1;
    display: block;
    margin-top: -100px;
    background-image: url("../assets/img/bg576.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 25;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}

