.form {
  width: 530px;
  height: 394px;
  padding: 36px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.10) 100%);
  border-radius: 18px;
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 24px -1px var(--box-shadow-btn);
  box-sizing: border-box;

  @include xl {
    height: 354px;
  }

  @include lg {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.10) 100%);
  }
  
  @include lg-md {
    padding: 20px;
    height: 289px;
    width: 370px;
  }

  @include xs {
    width: unset;
    padding: 20px;
    height: calc(272px + ((100vw - 320px) / (540 - 320)) * (451 - 272));
  }

  &__title {
    font-size: 32px;
    font-family: var(--font-medium);
    line-height: 110%;
    margin-bottom: 24px;
    max-width: 500px;

    @include xl {
      font-size: 28px;
      line-height: 105%;
    }

    @include lg-md {
      font-size: 20px;
      width: 100%;
      margin-bottom: 20px;
    }

    @include xs {
      font-size: calc(20px + ((100vw - 320px) / (540 - 320)) * (36 - 20));
      margin-bottom: calc(10px + ((100vw - 320px) / (540 - 320)) * (20 - 10));
      line-height: 110%;
    }
  }

  &__input {
    border-radius: 8px;
    padding: 18px 26px;
    font-size: 18px;
    font-family: var(--font-medium);
    border: none;
    outline: 1px solid currentColor;
    color: currentColor;
    margin-bottom: 12px;
    box-sizing: border-box;
    height: 52px;

    @include xl {
      padding: 16px 24px;
      margin-bottom: 12px;
    }

    @include lg-md {
      padding: 14px;
      margin-bottom: 8px;
    }

    @include sm {
      margin-bottom: 13px;
    }

    @include xs {
      height: calc(36px + ((100vw - 320px) / (540 - 320)) * (52 - 36));
      font-size: calc(14px + ((100vw - 320px) / (540 - 320)) * (16 - 14));
    }

    &--error {
      outline: 1px solid red;
    }

    &::placeholder {
      color: currentColor;  
    }

    &:focus {
      outline: 2px solid currentColor;
    }
  }

  &__button {
    color: #1E1F24; 

    &:hover {
      outline: 1px solid var(--color-main);
      background: linear-gradient(
        90deg,
        #e9eff7 0%,
        #e9eef3 25%,
        #eeeff2 50%,
        #dce1ee 75%,
        #eaedf6 100%
      );
      color: var(--color-main-green);
    }

    @include xs {
      font-size: calc(14px + ((100vw - 320px) / (540 - 320)) * (22 - 14));
    }
  }

  &__privacy {
    color: currentColor;
    font-size: 14px;
    font-family: var(--font-medium);
    opacity: 0.8;

    @include xl {
      font-size: 13px;
    }

    @include lg-md {
      font-size: 14px;
    }

    @include sm {
      font-size: 11px;
    }

    @include xs {
      font-size: 10px;
    }

    &-link {
      text-decoration: underline;
    }
  }
}
