.form {
    width: 480px;
    padding: 37px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.10) 100%);
    border-radius: 18px;
    color: var(--color-main);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 24px -1px var(--box-shadow-btn);

    @include xl {
        width: 425px;
    }

    @include lg-md {
        padding: 24px;
        width: 335px;
    }

    @include sm {
        padding: 32px;
    }

    @include xs {
        width: unset;
        padding: 20px;
    }

    &__title {
        font-size: 34px;
        font-family: var(--font-bold);
        line-height: 120%;
        margin-bottom: 14px;

        @include xl {
            font-size: 28px;
        }

        @include lg-md {
            font-size: 20px;
        }

        @include sm {
            font-size: 26px;
        }

        @include xs {
            font-size: 15px;
        }
    }

    &__input {
        border-radius: 11px;
        padding: 18px 26px;
        font-size: 18px;
        font-family: var(--font-medium);
        border: none;
        outline: 1px solid currentColor;
        color: currentColor;

        @include xl {
            padding: 16px 24px;
        }

        @include lg-md {
            padding: 12px 20px;
            font-size: 12px;
        }

        @include sm {
            padding: 14px 24px;
            font-size: 14px;
        }
        
        &--error {
            outline: 1px solid red;
        }

        &::placeholder {
            color: currentColor;
        }

        &:not(:last-child) {
            margin-bottom: 17px;

            @include xl {
                margin-bottom: 10px;
            }

            @include sm {
                margin-bottom: 13px;
            }
        }

        &:focus {
            outline: 2px solid currentColor;
        }
    }

    &__button {
        padding: 18px 26px;
        font-family: var(--font-bold);
        font-size: 22px;
        color: var(--color-main-green-dark);
        cursor: pointer;
        border: none;
        border-radius: 14px;
        margin-bottom: 22px;
        outline: 1px solid transparent;

        @include xl {
            margin-bottom: 10px;
        }

        @include lg-md {
            padding: 12px 20px;
            font-size: 18px;
        }

        @include sm {
            padding: 14px 24px;
        }

        &:hover {
            background: var(--color-main-green-dark);
            color: var(--color-main)
        }
    }

    &__privacy {
        color: currentColor;
        font-size: 12px;
        font-family: var(--font-medium);
        opacity: 0.8;

        @include xl {
            font-size: 10px;
        }

        @include lg-md {
            font-size: 8px;
        }

        @include sm {
            font-size: 11px;
        }

        @include xs {
            font-size: 10px;
        }

        &-link {
            text-decoration: underline;
        }
    }
}
