.offer {
 &__title {
    font-size: 54px;
    font-family: var(--font-medium);
    color: var(--color-main);
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 15px;
    width: 1010px;

    @include xl {
      margin-bottom: 10px;
      font-size: 56px;
      width: 90%;
    }

    @include lg-md {
      font-size: 42px;
      margin-bottom: 10px;
    }

    @include md {
      font-size: 40px;
    }

    @include xs {
      font-size: calc(27px + ((100vw - 320px) / (540 - 320)) * (46 - 27));
      width: 100%;
      margin-bottom:  calc(10px + ((100vw - 320px) / (540 - 320)) * (20 - 10));
      line-height: 110%;
    }
  }

  &__description {
    font-size: 30px;
    font-family: var(--font-medium);
    color: var(--color-main);
    font-weight: 500;
    line-height: 135%;
    margin-bottom: 25px;

    @include xl {
      font-size: 32px;
      line-height: 120%;
    }

    @include lg-md {
      font-size: 24px;
    }

    @include xs {
      font-size: calc(17px + ((100vw - 320px) / (540 - 320)) * (32 - 17));
      margin-bottom: 20px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: var(--font-medium);
    font-size: 22px;
    list-style:decimal;
    padding-left: 20px;
    margin-bottom: 24px;

    @include xl {
      font-size: 18px;
    }

    @include lg-md {
      font-size: 14px;
      gap: 20px;
      margin-bottom: 20px;
      padding-left: 22px;
    }

    @include xs {
      font-size: calc(14px + ((100vw - 320px) / (540 - 320)) * (24 - 14));
    }
  }

  &__item {

  }
}
