:root {
  --color-main: #fff;
  --color-main-green: #345D33;
  --color-main-green-dark: #0C1D0D;
  --color-hover: #4fdae1;
  --color-white: #fff;
  --box-shadow-btn: rgba(0, 0, 0, 0.2);
  --font-bold: "Muller-Bold", sans-serif;
  --font-medium: "Muller-Medium", sans-serif;
  --font-light: "Muller-Light", sans-serif;
}
