.offer {

 &__title {
    color: #2b2938;
    font-size: 74px;
    font-family: var(--font-bold);
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 20px;

    @include xl {
      font-size: 56px;
    }

    @include lg-md {
      font-size: 42px;
    }

    @include xs {
      font-size: 30px;
    }
  }

  &__description {
    color: #2B2938;
    font-size: 32px;
    font-family: var(--font-medium);
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 50px;

    @include lg-md {
      font-size: 24px;
    }
  }
}
